reservations/__pycache__/*
base/__pycache__/*
doctor/__pycache__/*
patient/__pycache__/*

base/migrations/__pycache__/*
base/models/__pycache__/*

doctor/models/__pycache__/*
doctor/migrations/__pycache__/*
doctor/views/__pycache__/*
doctor/serializers/__pycache__/*

patient/models/__pycache__/*
patient/migrations/__pycache__/*
patient/views/__pycache__/*
patient/serializers/__pycache__/*

media/doctors/dr_degree_copy/*
media/doctors/dr_pics/*
media/patients/patients_pics/*

!media/doctors/dr_pics/.gitkeep
!media/doctors/dr_degree_copy/.gitkeep
!media/patients/patients_pics/.gitkeep

reservations/.env